Repository PyDrocsid/library, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Defelo, @PyDrocsid/code-reviewer, @PyDrocsid/text-reviewer

.github/CODEOWNERS:

* @Defelo
/PyDrocsid/ @PyDrocsid/code-reviewer
*.md @PyDrocsid/text-reviewer
translations/ @PyDrocsid/code-reviewer @PyDrocsid/text-reviewer

Added pagination_user parameter
  PyDrocsid/embeds.py
  PyDrocsid/pagination.py
Owners: @PyDrocsid/code-reviewer

Fixed pagination reaction handler
  PyDrocsid/pagination.py
Owners: @PyDrocsid/code-reviewer

Added get_documentation
  PyDrocsid/cog.py
Owners: @PyDrocsid/code-reviewer

Fixed Color converter
  PyDrocsid/converter.py
Owners: @PyDrocsid/code-reviewer

Added command_emoji decorator
  PyDrocsid/command.py
Owners: @PyDrocsid/code-reviewer

Added no_documentation decorator
  PyDrocsid/command.py
Owners: @PyDrocsid/code-reviewer

Fixed detached sqlalchemy objects
  PyDrocsid/database.py
Owners: @PyDrocsid/code-reviewer

Added content parameter to send_long_embed
  PyDrocsid/embeds.py
Owners: @PyDrocsid/code-reviewer

Added add_reactions function
  PyDrocsid/command.py
  PyDrocsid/translations/en.yml
Owners: @PyDrocsid/code-reviewer, @PyDrocsid/text-reviewer

Added Discord badge to readme
  README.md
Owners: @PyDrocsid/text-reviewer

Added a script that automatically updates the emoji map
  PyDrocsid/emoji_update.py
Owners: @PyDrocsid/code-reviewer

Added an Actions workflow to keep the emoji map up to date
  .github/workflows/emoji_update.yml
Owners: @Defelo

Moved emoji_update.py into root directory
  .github/workflows/emoji_update.yml
  emoji_update.py
Owners: @Defelo

Changed emoji update schedule to daily
  .github/workflows/emoji_update.yml
Owners: @Defelo

Added author to emoji update workflow
  .github/workflows/emoji_update.yml
Owners: @Defelo

Added pat
  .github/workflows/emoji_update.yml
Owners: @Defelo

Updated the emoji map
  PyDrocsid/emoji_map.json
Owners: @PyDrocsid/code-reviewer

Removed search by username from UserMemberConverter (fixes #43)
  PyDrocsid/converter.py
Owners: @PyDrocsid/code-reviewer

Updated aioredis to 2.0 (fixes #45)
  PyDrocsid/pagination.py
  PyDrocsid/redis.py
  requirements.txt
Owners: @PyDrocsid/code-reviewer, @Defelo
